body{
font-family: Arial;
margin:0;
text-align:center;
background:#e3cdcd;
}

header{
background:#222;
color:white;
padding:15px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.home{
padding:50px;
}

.profile{
width:150px;
border-radius:50%;
}

.skills-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.skill{
background:#3498db;
color:white;
padding:10px 20px;
border-radius:5px;
}

.project-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.project-card{
background:white;
padding:20px;
width:200px;
box-shadow:0 0 10px gray;
}

footer{
background:#222;
color:white;
padding:10px;
margin-top:30px;
}